.App {
  background-color: #FEFFFF;
  width: 400px;
  min-height: 500px;
  margin: 40px auto;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #bd366e;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#to-do-form input{
  background-color: #1c6fdb;
  width: 200px;
  height: 40px;
  padding: 0 10px;
  margin: 30px;
  font-size: 15px;
  border-radius: 13px;
  color: white;
  border: 0;
}

#to-do-form input::placeholder{
  color: rgb(255,255,255,0.5);

}

#to-do-form input:focus{
  outline: none;
}

#to-do-form button{
  height:40px;
  width:80px;
  border-radius: 7px;
  border: 0;
  background-color: #c57907;
  cursor: pointer;
  color: white;
  font-weight: bolder;
}