.list {
  color: white;
  font-weight: 500;
  width: 300px;
  background-color: #00887a;
  height: 50px;
  margin: 20px auto;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-indent: 10px;
}

.list p {
  padding: 10px;
  position: relative;
}
.list p span {
  position: absolute;
  right: 10px;
  cursor: pointer;
}

.deleteBtn {
  margin-right: -2em;
  color: red;
}
.list div input {
  background-color: transparent;
  border: 0;
  color: #fff;
  font-size: 18px;
}
.list div input:focus {
  outline: none;
}
